#######################################
# JAVAC / MAVEN
#######################################
target/
*.class
*.jar
*.war
*.ear
*.nar

# Dependencies
*.lib

#######################################
# LOGS
#######################################
*.log

#######################################
# IDEs
#######################################

# Visual Studio Code
.vscode/


#######################################
# OS FILES
#######################################
.DS_Store
Thumbs.db

#######################################
# ENV / SECRETS
#######################################
.env
*.key
*.pem

#######################################
# TEMPORARY FILES
#######################################
*.tmp
*.bak
*.swp
*.swo